Repository voxpupuli/puppet-archive, pull requests merged in 2018-03, with the labels that each got.

#322 Remove deprecated archive::artifactory parameters
  manifests/artifactory.pp
Labels: backwards-incompatible

#323 Rewrite artifactory_sha1 function with puppet v4 api
  lib/puppet/functions/archive/artifactory_checksum.rb
  lib/puppet/parser/functions/artifactory_sha1.rb
  lib/puppet/parser/functions/go_md5.rb
  manifests/artifactory.pp
  spec/defines/artifactory_spec.rb
  spec/functions/artifactory_checksum_spec.rb
  spec/unit/puppet/parser/functions/artifactory_sha1_spec.rb
Labels: backwards-incompatible

#324 modulesync 1.9.0
  .github/PULL_REQUEST_TEMPLATE.md
  .msync.yml
  spec/acceptance/nodesets/docker/ubuntu-16.04.yml
Labels: modulesync

#325 Adding windows server 2016 to metadata.json
  metadata.json
Labels: enhancement

#327 release 3.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
