Repository voxpupuli/puppet-archive, pull requests merged in 2018-08, with the labels that each got.

#348 release 3.1.1
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#350 modulesync 1.9.6
  .msync.yml
  Gemfile
Labels: modulesync

#352 Bump stdlib dependency to <6.0.0
  metadata.json
Labels: enhancement

#351 Fallback to PowerShell for zip files on Windows
  README.md
  lib/puppet_x/bodeco/archive.rb
  spec/unit/puppet_x/bodeco/archive_spec.rb
Labels: enhancement
