Repository voxpupuli/puppet-archive, pull requests merged in 2019-10, with the labels that each got.

#381 modulesync 2.9.0
  .travis.yml
  Dockerfile
  Gemfile
  Rakefile
Labels: modulesync

#383 Add Archlinux compatibility
  metadata.json
Labels: enhancement

#382 Add CentOS/RHEL 8 compatibility
  metadata.json
Labels: enhancement

#384 release 4.3.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#349 Put the cookie option at the end when using curl
  lib/puppet/provider/archive/curl.rb
Labels: needs-feedback
