Repository voxpupuli/puppet-archive, pull requests merged in 2020-08, with the labels that each got.

#413 Modulesync 3.0.0
  .github/SECURITY.md
  .msync.yml
  .rubocop.yml
  .travis.yml
  Gemfile
  examples/bad_source.pp
  manifests/artifactory.pp
  manifests/go.pp
  manifests/init.pp
  manifests/nexus.pp
  spec/support/shared_behaviour.rb
  spec/unit/puppet_x/bodeco/archive_spec.rb
Labels: modulesync

#414 README.md: correct spelling typo
  README.md
Labels: tests-fail

#412 Clean up temporary files when checksums don't match
  lib/puppet/provider/archive/ruby.rb
Labels: tests-fail

#421 Add initial support for gsutil and pulling from Google Storage buckets
  README.md
  examples/gs.pp
  lib/puppet/provider/archive/ruby.rb
  lib/puppet/type/archive.rb
  manifests/init.pp
  spec/unit/puppet/provider/archive/gs_spec.rb
  spec/unit/puppet/type/archive_spec.rb
Labels: enhancement
