Repository voxpupuli/puppet-archive, pull requests merged in 2021-04, with the labels that each got.

#428 Windows: find 7zip binary
  lib/puppet_x/bodeco/archive.rb
Labels: bug

#422 Support for cacert_file param on archive resource
  README.md
  lib/puppet/provider/archive/curl.rb
  lib/puppet/provider/archive/ruby.rb
  lib/puppet/provider/archive/wget.rb
  lib/puppet/type/archive.rb
  lib/puppet_x/bodeco/util.rb
  spec/unit/puppet/provider/archive/curl_spec.rb
  spec/unit/puppet/provider/archive/wget_spec.rb
  spec/unit/puppet/type/archive_spec.rb
Labels: enhancement

#430 Fix downloading when passwords contain spaces
  .github/workflows/ci.yml
  .sync.yml
  lib/puppet/provider/archive/curl.rb
  lib/puppet/provider/archive/wget.rb
  spec/acceptance/authentication_spec.rb
  spec/spec_helper_acceptance.rb
  spec/unit/puppet/provider/archive/curl_spec.rb
Labels: bug

#440 Revert "Support for cacert_file param on archive resource"
  README.md
  lib/puppet/provider/archive/curl.rb
  lib/puppet/provider/archive/ruby.rb
  lib/puppet/provider/archive/wget.rb
  lib/puppet/type/archive.rb
  lib/puppet_x/bodeco/util.rb
  spec/unit/puppet/provider/archive/curl_spec.rb
  spec/unit/puppet/provider/archive/wget_spec.rb
  spec/unit/puppet/type/archive_spec.rb
Labels: skip-changelog

#439 Enable Debian 9/10 support
  metadata.json
Labels: enhancement

#438 release 5.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
