Repository voxpupuli/puppet-archive, pull requests merged in 2023-04, with the labels that each got.

#474 ruby provider: ensure cleanup happens
  lib/puppet/provider/archive/ruby.rb
Labels: bug

#491 Fix catalog compilation failure when net/ftp is not available
  lib/puppet_x/bodeco/util.rb
Labels: bug

#492 Release 6.1.2
  .github/SECURITY.md
  .gitignore
  CHANGELOG.md
  Gemfile
  Rakefile
  metadata.json
Labels: skip-changelog

#493 modulesync 5.5.0
  .msync.yml
  .pmtignore
Labels: modulesync
